body {
    font-family: sans-serif;
    user-select: none;
    background-color: #eaffeb;
}

.logo {
    display: block; 
    padding-top: 10px;
    margin-left: auto; 
    margin-right: auto;
    width: 500px;
    height: 125px;  
}

.plantamon-pokadex {
    padding-top: 30px;
    padding-right: 110px;
    padding-left: 110px; 
}

.card-id {
    font-family: 'Orbitron', sans-serif;
    padding-top: 2px;
    opacity: 75%;
    color: grey;
}

.plants {
    height: 200px;
    width: 200px;
}

.pokemon-card {
    background-color: rgb(213, 255, 202);
    padding: 10px;
    float: left;
    width: min-content;
    margin: 10px;
    transition: 0.3s;
}

.pokemon-card:hover {
    margin-top: -12px;
    transition: 0.3s;
    transform: scale(1.05);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}    

.card-name {
    font-family: 'Orbitron', sans-serif;
    color: rgb(77, 77, 77);
}

.type-grass {
    border-radius: 5%;
    background-color: #78C850;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 3px;
    padding-bottom: 3px;
    color: white;
}

.type-poison {
    border-radius: 5%;
    background-color: #A040A0;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 3px;
    padding-bottom: 3px;
    color: white;
}

.type-fire {
    border-radius: 5%;
    background-color: #F08030;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 3px;
    padding-bottom: 3px;
    color: white;
}

.type-electric {
    border-radius: 5%;
    background-color: #F8D030;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 3px;
    padding-bottom: 3px;
    color: white;
}
